<!-- <input 
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"

> -->
<input 
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
>
<input 
    type="text" 
    class="form-control"
    [(ngModel)]="userName"
>

<p>{{ serverName }}</p>
<p>{{ userName }}</p>
<button 
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
>
    Add Server
</button>
<button 
    class="btn btn-primary"
    [disabled]="!userName"
    (click)="emptyString()"
>
Empty String 
</button>
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>